/* Estilos del carrusel 1 */
.carousel-1 {
    position: relative;
    max-width: 800px;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    img {
        width: 100%;
        border-radius: 8px;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
}

/* Estilos del carrusel 2 */
.carousel-2 {
    position: relative;
    max-width: 800px;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    img {
        width: 100%;
        border-radius: 8px;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
}